# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

# NuGet
*.nupkg
**/packages/*
*.nuget.props
*.nuget.targets

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio
.vs/
*.vspscc
*.vssscc

# Rider
.idea/

# Visual Studio Code
.vscode/

# Build log
*.log

# Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# macOS
.DS_Store

# Application data
learned_data.json
